## 来自

https://zhuanlan.zhihu.com/p/26177617

## 摘要
### 如何构造训练集/测试集
> 1. 列别特征one-hot编码

> 2. 用户和商品的累计特征

> 3. 滑动窗口特征／时间衰减

> 4. 训练集／测试集划分

### xgboost模型


### 评测代码

In [78]:
import time
from datetime import datetime
from datetime import timedelta
import pandas as pd
import pickle
import os
import math
import numpy as np

In [4]:
action_1_path = "./data/JData_Action_201602.csv"
action_2_path = "./data/JData_Action_201603.csv"
action_3_path = "./data/JData_Action_201604.csv"
comment_path = "./data/JData_Comment.csv"
product_path = "./data/JData_Product.csv"
user_path = "./data/JData_User.csv"

comment_date = ["2016-02-01", "2016-02-08", "2016-02-15", "2016-02-22", "2016-02-29", "2016-03-07", "2016-03-14",
                "2016-03-21", "2016-03-28", "2016-04-04", "2016-04-11", "2016-04-15"]


def convert_age(age_str):
    if age_str == u'-1':
        return 0
    elif age_str == u'15岁以下':
        return 1
    elif age_str == u'16-25岁':
        return 2
    elif age_str == u'26-35岁':
        return 3
    elif age_str == u'36-45岁':
        return 4
    elif age_str == u'46-55岁':
        return 5
    elif age_str == u'56岁以上':
        return 6
    else:
        return -1

    
def get_actions_1():
    action = pd.read_csv(action_1_path)
    return action

def get_actions_2():
    action2 = pd.read_csv(action_2_path)
    return action2

def get_actions_3():
    action3 = pd.read_csv(action_3_path)
    return action3


def get_actions(start_date, end_date):
    """

    :param start_date:
    :param end_date:
    :return: actions: pd.Dataframe
    """
    dump_path = './cache/all_action_%s_%s.pkl' % (start_date, end_date)
    if os.path.exists(dump_path):
        actions = pickle.load(open(dump_path))
    else:
        action_1 = get_actions_1()
        action_2 = get_actions_2()
        action_3 = get_actions_3()
        actions = pd.concat([action_1, action_2, action_3]) # type: pd.DataFrame
        actions = actions[(actions.time >= start_date) & (actions.time < end_date)]
        pickle.dump(actions, open(dump_path, 'w'))
    return actions

In [5]:
# 用户特征使用了age，sex，lv_cd
def get_basic_user_feat():
    dump_path = './cache/basic_user.pkl'
    if os.path.exists(dump_path):
        user = pickle.load(open(dump_path))
    else:
        user = pd.read_csv(user_path, encoding='gbk')
        user['age'] = user['age'].map(convert_age)
        age_df = pd.get_dummies(user["age"], prefix="age")
        sex_df = pd.get_dummies(user["sex"], prefix="sex")
        user_lv_df = pd.get_dummies(user["user_lv_cd"], prefix="user_lv_cd")
        user = pd.concat([user['user_id'], age_df, sex_df, user_lv_df], axis=1)
        pickle.dump(user, open(dump_path, 'w'))
    return user

In [6]:
get_basic_user_feat()

,user_id,age_0,age_1,age_2,age_3,age_4,age_5,age_6,sex_0,sex_1,sex_2,user_lv_cd_1,user_lv_cd_2,user_lv_cd_3,user_lv_cd_4,user_lv_cd_5
0,54,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0
1,79,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0
2,100,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0
3,266,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0
4,333,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
5,605,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0
6,638,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1
7,686,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0
8,692,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0
9,819,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0
10,861,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0
11,1204,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0
12,1331,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0
13,1334,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0
14,1394,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0
15,1422,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0
16,1442,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1
17,1598,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0
18,1665,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0
19,1847,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0
20,1892,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0
21,1988,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0
22,2002,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0
23,2048,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0
24,2072,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0
25,2078,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0
26,2079,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0
27,2189,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0
28,2231,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1
29,2276,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103586,84620,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0
103587,84824,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0
103588,85091,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1
103589,85991,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1
103590,86920,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0
103591,87235,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0
103592,91374,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0
103593,93721,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1
103594,94327,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0
103595,94946,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1
103596,95232,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0
103597,95586,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0
103598,95634,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0
103599,95762,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1
103600,96822,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0
103601,97028,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1
103602,98058,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0
103603,98661,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1
103604,100620,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0
103605,100745,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0
103606,101031,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0
103607,101033,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0
103608,101193,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
103609,101515,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1
103610,101654,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0
103611,101903,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0
103612,102078,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0
103613,102573,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0
103614,103402,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0
103615,103465,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0

In [7]:
# 商品维度
def get_basic_product_feat():
    dump_path = './cache/basic_product.pkl'
    if os.path.exists(dump_path):
        product = pickle.load(open(dump_path))
    else:
        product = pd.read_csv(product_path)
        attr1_df = pd.get_dummies(product["attr1"], prefix="a1")
        attr2_df = pd.get_dummies(product["attr2"], prefix="a2")
        attr3_df = pd.get_dummies(product["attr3"], prefix="a3")
        product = pd.concat([product[['sku_id', 'cate', 'brand']], attr1_df, attr2_df, attr3_df], axis=1)
        pickle.dump(product, open(dump_path, 'w'))
    return product

In [8]:
get_basic_product_feat()

,sku_id,cate,brand,a1_-1,a1_1,a1_2,a1_3,a2_-1,a2_1,a2_2,a3_-1,a3_1,a3_2
0,166731,8,545,0,1,0,0,1,0,0,1,0,0
1,146488,8,812,0,0,1,0,0,0,1,1,0,0
2,70546,8,214,0,0,0,1,0,1,0,0,1,0
3,92487,8,812,0,0,1,0,0,0,1,1,0,0
4,113065,8,812,0,0,1,0,0,0,1,1,0,0
5,80307,8,812,0,0,1,0,0,0,1,1,0,0
6,71669,8,812,0,0,1,0,0,1,0,1,0,0
7,4145,8,812,0,0,1,0,0,0,1,0,1,0
8,35450,8,812,0,0,1,0,0,0,1,1,0,0
9,131403,8,812,0,0,1,0,0,1,0,1,0,0
10,128621,8,812,0,0,1,0,0,1,0,1,0,0
11,65347,8,812,0,0,1,0,0,1,0,0,0,1
12,68153,8,812,0,0,1,0,0,1,0,0,0,1
13,77945,8,812,0,0,1,0,0,1,0,1,0,0
14,167028,8,812,0,0,1,0,0,1,0,1,0,0
15,14771,8,812,0,0,1,0,0,1,0,0,0,1
16,153408,8,812,0,0,1,0,0,1,0,1,0,0
17,39874,8,812,0,0,1,0,0,0,1,1,0,0
18,83454,8,812,0,0,1,0,0,1,0,1,0,0
19,141684,8,623,0,0,1,0,1,0,0,0,0,1
20,78125,8,812,0,0,1,0,0,1,0,1,0,0
21,129840,8,623,0,0,1,0,0,0,1,0,0,1
22,42772,8,623,0,0,1,0,1,0,0,0,0,1
23,51732,8,623,0,0,1,0,0,1,0,0,0,1
24,61364,8,812,0,0,1,0,0,1,0,1,0,0
25,162019,8,812,0,0,1,0,0,0,1,0,1,0
26,33786,8,812,0,0,1,0,0,1,0,0,0,1
27,69751,8,812,0,0,1,0,0,0,1,1,0,0
28,80861,8,812,0,0,1,0,0,1,0,0,1,0
29,35975,8,812,0,0,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24157,20168,8,623,0,0,1,0,0,0,1,0,0,1
24158,7067,8,623,0,0,1,0,0,0,1,1,0,0
24159,86694,8,214,0,0,0,1,0,0,1,0,1,0
24160,159345,8,214,0,0,0,1,0,1,0,0,1,0
24161,171111,8,214,0,0,0,1,0,0,1,0,1,0
24162,19852,8,214,0,0,0,1,0,1,0,0,1,0
24163,29463,8,214,0,0,0,1,0,0,1,0,1,0
24164,30805,8,214,0,0,0,1,1,0,0,1,0,0
24165,167877,8,214,0,0,0,1,1,0,0,1,0,0
24166,83586,8,214,0,0,0,1,1,0,0,1,0,0
24167,54425,8,214,0,0,0,1,1,0,0,1,0,0
24168,26123,8,489,0,0,0,1,0,1,0,0,0,1
24169,127618,8,489,0,0,0,1,0,1,0,0,0,1
24170,64484,8,306,0,0,0,1,0,1,0,1,0,0
24171,49835,8,49,1,0,0,0,1,0,0,1,0,0
24172,127766,8,623,0,0,1,0,0,1,0,0,0,1
24173,17688,8,623,0,0,1,0,0,1,0,0,0,1
24174,118669,8,124,0,0,1,0,0,1,0,0,0,1
24175,106654,8,124,0,0,1,0,0,1,0,0,0,1
24176,93873,8,124,0,0,1,0,0,1,0,0,0,1
24177,112603,8,812,0,0,1,0,0,0,1,1,0,0
24178,112739,8,383,1,0,0,0,1,0,0,1,0,0
24179,26059,8,383,1,0,0,0,1,0,0,1,0,0
24180,68696,8,383,1,0,0,0,1,0,0,1,0,0
24181,101664,8,693,0,1,0,0,0,1,0,0,0,1
24182,38128,8,427,0,1,0,0,0,1,0,0,1,0
24183,110813,8,812,0,0,1,0,0,0,1,0,1,0
24184,72751,8,812,0,0,1,0,0,1,0,0,1,0
24185,112327,8,812,0,0,1,0,0,1,0,0,1,0
24186,315,8,812,0,0,1,0,0,0,1,0,1,0

In [9]:
# 用户累积特征
def get_accumulate_user_feat(start_date, end_date):
    feature = ['user_id', 'user_action_1_ratio', 'user_action_2_ratio', 'user_action_3_ratio',
               'user_action_5_ratio', 'user_action_6_ratio']
    dump_path = './cache/user_feat_accumulate_%s_%s.pkl' % (start_date, end_date)
    if os.path.exists(dump_path):
        actions = pickle.load(open(dump_path))
    else:
        actions = get_actions(start_date, end_date)
        df = pd.get_dummies(actions['type'], prefix='action')
        actions = pd.concat([actions['user_id'], df], axis=1)
        actions = actions.groupby(['user_id'], as_index=False).sum()
        actions['user_action_1_ratio'] = actions['action_4'] / actions['action_1']
        actions['user_action_2_ratio'] = actions['action_4'] / actions['action_2']
        actions['user_action_3_ratio'] = actions['action_4'] / actions['action_3']
        actions['user_action_5_ratio'] = actions['action_4'] / actions['action_5']
        actions['user_action_6_ratio'] = actions['action_4'] / actions['action_6']
        actions = actions[feature]
        pickle.dump(actions, open(dump_path, 'w'))
    return actions

In [10]:
start_days = "2016-02-01"
train_end_date = '2016-04-11'

user_acc = get_accumulate_user_feat(start_days, train_end_date)
user_acc

,user_id,user_action_1_ratio,user_action_2_ratio,user_action_3_ratio,user_action_5_ratio,user_action_6_ratio
0,1,0.000000,NaN,NaN,NaN,0.000000
1,2,0.000000,NaN,NaN,NaN,0.000000
2,3,0.066667,2.000000,2.000000,inf,0.029412
3,4,0.000000,NaN,NaN,NaN,0.000000
4,5,0.000000,NaN,NaN,NaN,0.000000
5,6,0.000000,NaN,NaN,NaN,0.000000
6,7,0.020833,0.166667,0.500000,inf,0.007937
7,8,0.000000,0.000000,NaN,NaN,0.000000
8,9,0.022727,0.500000,1.000000,inf,0.017241
9,10,0.000000,NaN,NaN,NaN,0.000000
10,11,0.009091,0.200000,1.000000,inf,0.006757
11,12,0.000000,NaN,NaN,NaN,0.000000
12,13,0.000000,NaN,NaN,NaN,0.000000
13,14,0.003205,0.125000,inf,inf,0.001912
14,15,0.001976,0.090909,0.200000,inf,0.001094
15,16,0.111111,1.000000,inf,inf,0.037037
16,17,0.009259,0.200000,inf,inf,0.004630
17,18,0.000000,0.000000,0.000000,NaN,0.000000
18,19,0.017143,0.150000,0.250000,1.000000,0.006772
19,20,0.010638,0.333333,1.000000,inf,0.007353
20,21,0.001577,0.052632,0.125000,inf,0.001076
21,22,0.000000,0.000000,NaN,0.000000,0.000000
22,23,0.000000,0.000000,NaN,0.000000,NaN
23,24,0.016949,0.333333,inf,inf,0.012821
24,25,0.000000,NaN,0.000000,NaN,0.000000
25,26,0.000000,0.000000,0.000000,0.000000,0.000000
26,27,0.000000,0.000000,0.000000,NaN,0.000000
27,28,0.000000,NaN,NaN,NaN,0.000000
28,29,0.000000,NaN,NaN,0.000000,0.000000
29,30,0.000000,NaN,NaN,NaN,0.000000
...,...,...,...,...,...,...
102234,103587,0.000000,0.000000,0.000000,0.000000,0.000000
102235,103588,0.001618,0.076923,0.142857,inf,0.001044
102236,103589,0.000000,NaN,NaN,NaN,0.000000
102237,103590,0.000000,NaN,NaN,NaN,0.000000
102238,103591,0.021739,inf,0.500000,inf,0.015152
102239,103592,0.000692,0.100000,0.142857,1.000000,0.000488
102240,103593,0.000000,0.000000,0.000000,NaN,0.000000
102241,103594,0.000000,NaN,NaN,NaN,0.000000
102242,103595,0.000000,0.000000,0.000000,0.000000,0.000000
102243,103596,0.000000,NaN,NaN,NaN,0.000000
102244,103597,0.000000,NaN,NaN,NaN,0.000000
102245,103598,0.001142,0.062500,inf,inf,0.000756
102246,103599,0.000000,0.000000,NaN,NaN,0.000000
102247,103600,0.000000,0.000000,NaN,NaN,0.000000
102248,103601,0.000000,0.000000,0.000000,NaN,0.000000
102249,103602,0.000000,0.000000,NaN,NaN,0.000000
102250,103603,0.003690,0.400000,0.666667,inf,0.002367
102251,103604,0.000000,NaN,NaN,0.000000,0.000000
102252,103605,0.000000,0.000000,NaN,NaN,0.000000
102253,103606,0.000000,0.000000,0.000000,NaN,NaN
102254,103607,0.000000,NaN,NaN,NaN,0.000000
102255,103608,0.000000,NaN,NaN,NaN,0.000000
102256,103609,0.009259,0.166667,inf,inf,0.006410
102257,103610,0.020408,0.250000,1.000000,0.250000,0.013158
102258,103611,0.146520,0.540541,1.025641,inf,0.195122
102259,103612,0.000000,NaN,NaN,NaN,0.000000
102260,103613,0.000000,0.000000,0.000000,NaN,0.000000
102261,103614,0.000000,0.000000,0.000000,NaN,NaN
102262,103615,0.000000,NaN,NaN,NaN,0.000000
102263,103616,0.000000,NaN,0.000000,0.000000,0.000000

In [12]:
# 商品下单比例与浏览，加入购物车，购物车删除，关注，点击比例
# 商品累积特征
def get_accumulate_product_feat(start_date, end_date):
    feature = ['sku_id', 'product_action_1_ratio', 'product_action_2_ratio', 'product_action_3_ratio',
               'product_action_5_ratio', 'product_action_6_ratio']
    dump_path = './cache/product_feat_accumulate_%s_%s.pkl' % (start_date, end_date)
    if os.path.exists(dump_path):
        actions = pickle.load(open(dump_path))
    else:
        actions = get_actions(start_date, end_date)
        df = pd.get_dummies(actions['type'], prefix='action')
        actions = pd.concat([actions['sku_id'], df], axis=1)
        actions = actions.groupby(['sku_id'], as_index=False).sum()
        actions['product_action_1_ratio'] = actions['action_4'] / actions['action_1']
        actions['product_action_2_ratio'] = actions['action_4'] / actions['action_2']
        actions['product_action_3_ratio'] = actions['action_4'] / actions['action_3']
        actions['product_action_5_ratio'] = actions['action_4'] / actions['action_5']
        actions['product_action_6_ratio'] = actions['action_4'] / actions['action_6']
        actions = actions[feature]
        pickle.dump(actions, open(dump_path, 'w'))
    return actions

In [13]:
start_days = "2016-02-01"
train_end_date = '2016-04-11'
product_acc = get_accumulate_product_feat(start_days, train_end_date)
product_acc

,sku_id,product_action_1_ratio,product_action_2_ratio,product_action_3_ratio,product_action_5_ratio,product_action_6_ratio
0,2,0.000000,NaN,NaN,NaN,0.000000
1,18,0.000000,NaN,NaN,NaN,0.000000
2,23,0.000000,NaN,NaN,NaN,0.000000
3,36,0.000000,NaN,0.000000,0.000000,0.000000
4,37,0.000000,NaN,NaN,NaN,0.000000
5,40,0.000000,0.000000,0.000000,NaN,0.000000
6,41,0.000000,NaN,NaN,NaN,NaN
7,43,0.000000,0.000000,0.000000,0.000000,0.000000
8,44,0.000000,NaN,NaN,NaN,0.000000
9,45,0.000000,NaN,NaN,NaN,0.000000
10,50,0.001633,0.095238,0.125000,0.666667,0.001196
11,52,0.000622,0.032258,0.083333,0.166667,0.000428
12,58,0.000000,NaN,0.000000,NaN,0.000000
13,64,0.000000,NaN,NaN,NaN,0.000000
14,67,0.000000,NaN,NaN,NaN,0.000000
15,68,0.000000,NaN,NaN,NaN,0.000000
16,71,0.000000,NaN,NaN,NaN,0.000000
17,87,0.000000,NaN,0.000000,NaN,0.000000
18,95,0.000000,0.000000,0.000000,0.000000,0.000000
19,124,0.000000,NaN,NaN,NaN,0.000000
20,131,0.000000,NaN,NaN,NaN,0.000000
21,139,0.000000,0.000000,0.000000,NaN,0.000000
22,142,0.000000,NaN,NaN,NaN,0.000000
23,149,0.000000,NaN,NaN,NaN,0.000000
24,156,0.001397,0.053232,0.157303,0.208955,0.000979
25,169,0.000881,0.045113,0.101695,0.153846,0.000553
26,181,0.005556,0.500000,0.500000,inf,0.003676
27,184,0.000000,NaN,NaN,NaN,NaN
28,194,0.000000,NaN,NaN,NaN,0.000000
29,195,0.000000,NaN,NaN,NaN,0.000000
...,...,...,...,...,...,...
29620,171024,0.000000,0.000000,0.000000,NaN,0.000000
29621,171033,0.000000,NaN,NaN,NaN,0.000000
29622,171035,0.000000,NaN,NaN,NaN,0.000000
29623,171040,0.000000,0.000000,0.000000,0.000000,0.000000
29624,171042,0.000000,0.000000,0.000000,0.000000,0.000000
29625,171046,0.000000,NaN,NaN,NaN,0.000000
29626,171048,0.000000,NaN,NaN,NaN,0.000000
29627,171054,0.000000,0.000000,0.000000,0.000000,0.000000
29628,171059,0.000000,NaN,NaN,NaN,0.000000
29629,171060,0.000000,0.000000,0.000000,NaN,0.000000
29630,171073,0.000000,NaN,NaN,NaN,0.000000
29631,171082,0.000000,NaN,NaN,NaN,0.000000
29632,171084,0.000000,NaN,NaN,NaN,0.000000
29633,171085,0.000000,NaN,NaN,NaN,0.000000
29634,171088,0.003969,0.136646,0.265060,0.814815,0.002063
29635,171093,0.000000,NaN,NaN,NaN,0.000000
29636,171102,0.000000,NaN,NaN,NaN,0.000000
29637,171126,0.000000,NaN,NaN,NaN,0.000000
29638,171138,0.000000,NaN,NaN,NaN,0.000000
29639,171148,0.000000,NaN,NaN,NaN,0.000000
29640,171162,0.000000,NaN,NaN,NaN,0.000000
29641,171165,0.000000,NaN,NaN,NaN,0.000000
29642,171174,0.000000,0.000000,NaN,NaN,0.000000
29643,171176,0.000000,NaN,NaN,NaN,0.000000
29644,171182,0.000000,0.000000,0.000000,0.000000,0.000000
29645,171183,0.001195,0.044304,0.080460,0.225806,0.000768
29646,171184,0.000000,NaN,0.000000,0.000000,0.000000
29647,171186,0.000000,0.000000,NaN,NaN,0.000000
29648,171188,0.000000,0.000000,0.000000,0.000000,0.000000
29649,171225,0.003170,0.117647,0.400000,0.666667,0.002060

In [21]:
# 商品评论
def get_comments_product_feat(start_date, end_date):
    dump_path = './cache/comments_accumulate_%s_%s.pkl' % (start_date, end_date)
    if os.path.exists(dump_path):
        comments = pickle.load(open(dump_path))
    else:
        comments = pd.read_csv(comment_path)
        comment_date_end = end_date
        comment_date_begin = comment_date[0]
        for date in reversed(comment_date):
            if date < comment_date_end:
                comment_date_begin = date
                print "comment_date_begin: ", comment_date_begin
                break
        comments = comments[(comments.dt >= comment_date_begin) & (comments.dt < comment_date_end)]
        df = pd.get_dummies(comments['comment_num'], prefix='comment_num')
        comments = pd.concat([comments, df], axis=1) # type: pd.DataFrame
        #del comments['dt']
        #del comments['comment_num']
        comments = comments[['sku_id', 'has_bad_comment', 'bad_comment_rate', 'comment_num_1', 'comment_num_2', 'comment_num_3', 'comment_num_4']]
        pickle.dump(comments, open(dump_path, 'w'))
    return comments

In [23]:
start_days = "2016-02-01"
train_end_date = '2016-04-11'

comment_acc = get_comments_product_feat(start_days, train_end_date)
comment_acc

comment_date_begin:  2016-04-04

,sku_id,has_bad_comment,bad_comment_rate,comment_num_1,comment_num_2,comment_num_3,comment_num_4
325822,115070,0,0.0000,0,1,0,0
325823,117428,0,0.0000,0,1,0,0
325824,54663,0,0.0000,0,1,0,0
325825,9154,0,0.0000,1,0,0,0
325826,125794,0,0.0000,0,1,0,0
325827,107320,0,0.0000,1,0,0,0
325828,34105,0,0.0000,1,0,0,0
325829,60922,0,0.0000,0,0,0,1
325830,149389,0,0.0000,0,0,1,0
325831,23835,0,0.0000,0,1,0,0
325832,163114,1,0.0280,0,0,0,1
325833,137072,0,0.0000,1,0,0,0
325834,68153,0,0.0000,1,0,0,0
325835,77945,0,0.0000,1,0,0,0
325836,57323,0,0.0000,1,0,0,0
325837,43278,1,0.1250,0,1,0,0
325838,51732,0,0.0000,0,1,0,0
325839,120480,0,0.0000,1,0,0,0
325840,100130,0,0.0000,0,1,0,0
325841,33136,0,0.0000,0,1,0,0
325842,30585,1,0.0211,0,0,0,1
325843,91359,0,0.0000,1,0,0,0
325844,24551,0,0.0000,0,1,0,0
325845,60556,0,0.0000,0,1,0,0
325846,67866,0,0.0000,1,0,0,0
325847,84800,0,0.0000,0,1,0,0
325848,42367,0,0.0000,1,0,0,0
325849,61410,0,0.0000,1,0,0,0
325850,135021,0,0.0000,1,0,0,0
325851,116892,0,0.0000,1,0,0,0
...,...,...,...,...,...,...,...
511976,58035,1,0.0476,0,0,0,1
511977,140889,1,0.0162,0,0,0,1
511978,126784,1,0.0221,0,0,0,1
511979,50755,1,0.0187,0,0,0,1
511980,150268,1,0.3333,0,1,0,0
511981,56134,0,0.0000,0,0,1,0
511982,62562,1,0.0733,0,0,0,1
511983,26257,1,0.0275,0,0,0,1
511984,83093,1,0.0278,0,0,0,1
511985,106139,1,0.0261,0,0,0,1
511986,127766,0,0.0000,1,0,0,0
511987,39061,1,0.5000,0,1,0,0
511988,23938,0,0.0000,0,1,0,0
511989,53794,0,0.0000,0,1,0,0
511990,131617,1,0.0262,0,0,0,1
511991,33468,1,0.0284,0,0,0,1
511992,134406,1,0.0229,0,0,0,1
511993,15282,1,0.0171,0,0,0,1
511994,149479,1,0.0455,0,0,1,0
511995,27178,1,0.0714,0,0,1,0
511996,48767,1,0.0281,0,0,0,1
511997,148425,1,0.1000,0,1,0,0
511998,93873,1,0.1000,0,1,0,0
511999,168788,1,0.0266,0,0,0,1
512000,71270,1,0.0490,0,0,0,1
512001,145161,1,0.0272,0,0,0,1
512002,56901,1,0.0198,0,0,0,1
512003,38128,1,0.0353,0,0,0,1
512004,110813,0,0.0000,1,0,0,0
512005,112327,0,0.0000,1,0,0,0

In [24]:
def get_labels(start_date, end_date):
    dump_path = './cache/labels_%s_%s.pkl' % (start_date, end_date)
    if os.path.exists(dump_path):
        actions = pickle.load(open(dump_path))
    else:
        actions = get_actions(start_date, end_date)
        actions = actions[actions['type'] == 4]
        actions = actions.groupby(['user_id', 'sku_id'], as_index=False).sum()
        actions['label'] = 1
        actions = actions[['user_id', 'sku_id', 'label']]
        pickle.dump(actions, open(dump_path, 'w'))
    return actions

In [25]:
test_start_date = '2016-04-11'
test_end_date = '2016-04-16'
labels = get_labels(test_start_date, test_end_date)
labels

      user_id  sku_id  label
0         100  101412      1
1         128   57161      1
2         137  131300      1
3         152   28276      1
4         160   51207      1
5         172  135376      1
6         220   84389      1
7         235  169085      1
8         247   28276      1
9         271   80497      1
10        344   54357      1
11        344   73467      1
12        363  158534      1
13        391   86551      1
14        444   63784      1
15        471   95976      1
16        471  103114      1
17        471  135272      1
18        498   83347      1
19        498  115215      1
20        512   33723      1
21        512   94467      1
22        512  125699      1
23        544   28276      1
24        544  135272      1
25        556   28276      1
26        556   72967      1
27        579   72967      1
28        617  170626      1
29        630   28276      1
...       ...     ...    ...
5406   103061  135272      1
5407   103114   98634      1
5408   103214   49758      1
5409   103232   44605      1
5410   103232   72967      1
5411   103242   78285      1
5412   103243   72967      1
5413   103246   45173      1
5414   103246  117210      1
5415   103288  122369      1
5416   103314   69623      1
5417   103324   53785      1
5418   103324   64160      1
5419   103324  162759      1
5420   103351   88414      1
5421   103366  154636      1
5422   103370   45656      1
5423   103383   72967      1
5424   103398  168434      1
5425   103419   79636      1
5426   103425   63006      1
5427   103444   86227      1
5428   103455    5888      1
5429   103508   21147      1
5430   103611   35464      1
5431   103611   52283      1
5432   103611   65488      1
5433   103611  104937      1
5434   103611  147652      1
5435   103611  150879      1

[5436 rows x 3 columns]

In [37]:
# 滑动窗口特征
def get_action_feat(start_date, end_date):
    dump_path = './cache/action_accumulate_%s_%s.pkl' % (start_date, end_date)
    if os.path.exists(dump_path):
        actions = pickle.load(open(dump_path))
    else:
        actions = get_actions(start_date, end_date)
        actions = actions[['user_id', 'sku_id', 'type']]
        df = pd.get_dummies(actions['type'], prefix='%s-%s-action' % (start_date, end_date))
        actions = pd.concat([actions, df], axis=1)  # type: pd.DataFrame
        actions = actions.groupby(['user_id', 'sku_id'], as_index=False).sum()
        del actions['type']
        pickle.dump(actions, open(dump_path, 'w'))
    return actions

# make train set
def make_train_set(train_start_date, train_end_date, test_start_date, test_end_date):
    dump_path = './cache/train_set_%s_%s_%s_%s.pkl' % (train_start_date, train_end_date, test_start_date, test_end_date)
    if os.path.exists(dump_path):
        actions = pickle.load(open(dump_path))
    else:
        start_days = "2016-02-01"
        start_days = "2016-02-01"
        user = get_basic_user_feat()
        product = get_basic_product_feat()
        user_acc = get_accumulate_user_feat(start_days, train_end_date)
        product_acc = get_accumulate_product_feat(start_days, train_end_date)
        comment_acc = get_comments_product_feat(train_start_date, train_end_date)
        labels = get_labels(test_start_date, test_end_date)
        
        actions = None
        for i in (1, 2, 3, 5, 7, 10, 15, 21, 30):
            start_days = datetime.strptime(train_end_date, '%Y-%m-%d') - timedelta(days=i)
            start_days = start_days.strftime('%Y-%m-%d')
            if actions is None:
                actions = get_action_feat(start_days, train_end_date)
            else:
                actions = pd.merge(actions, get_action_feat(start_days, train_end_date), how='left',
                                   on=['user_id', 'sku_id'])

        actions = pd.merge(actions, user, how='left', on='user_id')
        actions = pd.merge(actions, user_acc, how='left', on='user_id')
        actions = pd.merge(actions, product, how='left', on='sku_id')
        actions = pd.merge(actions, product_acc, how='left', on='sku_id')
        actions = pd.merge(actions, comment_acc, how='left', on='sku_id')
        actions = pd.merge(actions, labels, how='left', on=['user_id', 'sku_id'])
        actions = actions.fillna(0)
        pickle.dump(actions, open(dump_path, 'w'))
    
    users = actions[['user_id', 'sku_id']].copy()
    labels = actions['label'].copy()
    del actions['user_id']
    del actions['sku_id']
    del actions['label']

    return users, actions, labels

In [38]:
train_start_date = '2016-03-10'
train_end_date = '2016-04-11'
test_start_date = '2016-04-11'
test_end_date = '2016-04-16'


user_index, training_data, label = make_train_set(train_start_date, train_end_date, test_start_date, test_end_date)

In [40]:
training_data.dtypes

2016-04-10-2016-04-11-action_1    float64
2016-04-10-2016-04-11-action_2    float64
2016-04-10-2016-04-11-action_3    float64
2016-04-10-2016-04-11-action_4    float64
2016-04-10-2016-04-11-action_5    float64
2016-04-10-2016-04-11-action_6    float64
2016-04-09-2016-04-11-action_1    float64
2016-04-09-2016-04-11-action_2    float64
2016-04-09-2016-04-11-action_3    float64
2016-04-09-2016-04-11-action_4    float64
2016-04-09-2016-04-11-action_5    float64
2016-04-09-2016-04-11-action_6    float64
2016-04-08-2016-04-11-action_1    float64
2016-04-08-2016-04-11-action_2    float64
2016-04-08-2016-04-11-action_3    float64
2016-04-08-2016-04-11-action_4    float64
2016-04-08-2016-04-11-action_5    float64
2016-04-08-2016-04-11-action_6    float64
2016-04-06-2016-04-11-action_1    float64
2016-04-06-2016-04-11-action_2    float64
2016-04-06-2016-04-11-action_3    float64
2016-04-06-2016-04-11-action_4    float64
2016-04-06-2016-04-11-action_5    float64
2016-04-06-2016-04-11-action_6    float64
2016-04-04-2016-04-11-action_1    float64
2016-04-04-2016-04-11-action_2    float64
2016-04-04-2016-04-11-action_3    float64
2016-04-04-2016-04-11-action_4    float64
2016-04-04-2016-04-11-action_5    float64
2016-04-04-2016-04-11-action_6    float64
                                   ...
user_lv_cd_4                        uint8
user_lv_cd_5                        uint8
user_action_1_ratio               float64
user_action_2_ratio               float64
user_action_3_ratio               float64
user_action_5_ratio               float64
user_action_6_ratio               float64
cate                              float64
brand                             float64
a1_-1                             float64
a1_1                              float64
a1_2                              float64
a1_3                              float64
a2_-1                             float64
a2_1                              float64
a2_2                              float64
a3_-1                             float64
a3_1                              float64
a3_2                              float64
product_action_1_ratio            float64
product_action_2_ratio            float64
product_action_3_ratio            float64
product_action_5_ratio            float64
product_action_6_ratio            float64
has_bad_comment                   float64
bad_comment_rate                  float64
comment_num_1                     float64
comment_num_2                     float64
comment_num_3                     float64
comment_num_4                     float64
Length: 97, dtype: object

In [32]:
user_index

        user_id  sku_id
0             1  124997
1            17   58959
2            22   15259
3            22   24423
4            22   48154
5            22   48895
6            22   49178
7            22   56234
8            22   75836
9            22   89802
10           22  110779
11           22  116489
12           22  128988
13           22  132562
14           22  146634
15           22  154823
16           22  155017
17           22  160476
18           22  163369
19           22  166354
20           22  170561
21           31  116489
22           31  164258
23           42   20827
24           42   70491
25           42  111277
26           42  122369
27           43   19042
28           44   66434
29           51   36976
...         ...     ...
139496   103587  124470
139497   103587  137712
139498   103587  152536
139499   103587  155223
139500   103587  155389
139501   103587  156484
139502   103587  163360
139503   103587  164395
139504   103587  167923
139505   103588   27582
139506   103588   32465
139507   103588   32876
139508   103588   38222
139509   103588  143139
139510   103588  150041
139511   103588  165290
139512   103591   19762
139513   103600   72471
139514   103606  124997
139515   103606  146704
139516   103607   18412
139517   103607   32465
139518   103607   63006
139519   103611   65488
139520   103611  104937
139521   103611  147652
139522   103612  105559
139523   103612  116746
139524   103612  128167
139525   103612  154636

[139526 rows x 2 columns]

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(training_data.values, label.values, test_size=0.2, random_state=0)

In [46]:
print X_train.shape
print X_test.shape

(111620, 97)
(27906, 97)

In [47]:

#  make test set
def make_test_set(train_start_date, train_end_date):
    dump_path = './cache/test_set_%s_%s.pkl' % (train_start_date, train_end_date)
    if os.path.exists(dump_path):
        actions = pickle.load(open(dump_path))
    else:
        start_days = "2016-02-01"
        user = get_basic_user_feat()
        product = get_basic_product_feat()
        user_acc = get_accumulate_user_feat(start_days, train_end_date)
        product_acc = get_accumulate_product_feat(start_days, train_end_date)
        comment_acc = get_comments_product_feat(train_start_date, train_end_date)
        #labels = get_labels(test_start_date, test_end_date)

        # generate 时间窗口
        # actions = get_accumulate_action_feat(train_start_date, train_end_date)
        actions = None
        for i in (1, 2, 3, 5, 7, 10, 15, 21, 30):
            start_days = datetime.strptime(train_end_date, '%Y-%m-%d') - timedelta(days=i)
            start_days = start_days.strftime('%Y-%m-%d')
            if actions is None:
                actions = get_action_feat(start_days, train_end_date)
            else:
                actions = pd.merge(actions, get_action_feat(start_days, train_end_date), how='left',
                                   on=['user_id', 'sku_id'])

        actions = pd.merge(actions, user, how='left', on='user_id')
        actions = pd.merge(actions, user_acc, how='left', on='user_id')
        actions = pd.merge(actions, product, how='left', on='sku_id')
        actions = pd.merge(actions, product_acc, how='left', on='sku_id')
        actions = pd.merge(actions, comment_acc, how='left', on='sku_id')
        #actions = pd.merge(actions, labels, how='left', on=['user_id', 'sku_id'])
        actions = actions.fillna(0)
        actions = actions[actions['cate'] == 8]
        pickle.dump(actions, open(dump_path, 'w'))

    users = actions[['user_id', 'sku_id']].copy()
    del actions['user_id']
    del actions['sku_id']
    return users, actions

sub_start_date = '2016-03-15'
sub_end_date = '2016-04-16'
sub_user_index, sub_trainning_data = make_test_set(sub_start_date, sub_end_date,)

comment_date_begin:  2016-04-15

In [48]:
print sub_trainning_data.shape

(70744, 97)

In [50]:
import xgboost as xgb

dtrain=xgb.DMatrix(X_train, label=y_train)
dtest=xgb.DMatrix(X_test, label=y_test)
sub_trainning_data = xgb.DMatrix(sub_trainning_data.values)

/home/zhangguoqiang/genv/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [60]:
# xgboost模型
# 为什么选择xgboost模型，因为树模型对特征处理的要求不高而且效果也相当不错，不管是类别特征，连续特征效果都很好。
# 在Kaggle竞赛中，该模型通常能取得较好成绩。
param = {'learning_rate' : 0.1, 'n_estimators': 1000, 'max_depth': 3, 
        'min_child_weight': 5, 'gamma': 0, 'subsample': 1.0, 'colsample_bytree': 0.8,
        'scale_pos_weight': 1, 'eta': 0.05, 'silent': 1, 'objective': 'binary:logistic'}
num_round = 283
param['nthread'] = 4
#param['eval_metric'] = "auc"
print "param: ", param
plst = param.items()
print "plst: ", plst
plst += [('eval_metric', 'logloss')]
evallist = [(dtest, 'eval'), (dtrain, 'train')]
bst=xgb.train(plst, dtrain, num_round, evallist)

param:  {'scale_pos_weight': 1, 'learning_rate': 0.1, 'n_estimators': 1000, 'colsample_bytree': 0.8, 'silent': 1, 'nthread': 4, 'min_child_weight': 5, 'subsample': 1.0, 'eta': 0.05, 'objective': 'binary:logistic', 'max_depth': 3, 'gamma': 0}
plst:  [('scale_pos_weight', 1), ('learning_rate', 0.1), ('n_estimators', 1000), ('colsample_bytree', 0.8), ('silent', 1), ('nthread', 4), ('min_child_weight', 5), ('subsample', 1.0), ('eta', 0.05), ('objective', 'binary:logistic'), ('max_depth', 3), ('gamma', 0)]
[0]	eval-logloss:0.601106	train-logloss:0.601127
[1]	eval-logloss:0.525733	train-logloss:0.525793
[2]	eval-logloss:0.462907	train-logloss:0.463004
[3]	eval-logloss:0.409887	train-logloss:0.409992
[4]	eval-logloss:0.36463	train-logloss:0.364773
[5]	eval-logloss:0.325711	train-logloss:0.325885
[6]	eval-logloss:0.292021	train-logloss:0.292228
[7]	eval-logloss:0.262693	train-logloss:0.262943
[8]	eval-logloss:0.237052	train-logloss:0.23735
[9]	eval-logloss:0.214558	train-logloss:0.214898
[10]	eval-logloss:0.194768	train-logloss:0.195143
[11]	eval-logloss:0.177315	train-logloss:0.177719
[12]	eval-logloss:0.161872	train-logloss:0.162311
[13]	eval-logloss:0.148198	train-logloss:0.148662
[14]	eval-logloss:0.136026	train-logloss:0.136518
[15]	eval-logloss:0.125245	train-logloss:0.125761
[16]	eval-logloss:0.115658	train-logloss:0.116195
[17]	eval-logloss:0.107121	train-logloss:0.107679
[18]	eval-logloss:0.099517	train-logloss:0.100094
[19]	eval-logloss:0.092694	train-logloss:0.093287
[20]	eval-logloss:0.086642	train-logloss:0.087248
[21]	eval-logloss:0.081246	train-logloss:0.081857
[22]	eval-logloss:0.076425	train-logloss:0.07704
[23]	eval-logloss:0.072052	train-logloss:0.072685
[24]	eval-logloss:0.0682	train-logloss:0.06884
[25]	eval-logloss:0.064758	train-logloss:0.065396
[26]	eval-logloss:0.061679	train-logloss:0.062318
[27]	eval-logloss:0.058896	train-logloss:0.059543
[28]	eval-logloss:0.056441	train-logloss:0.057083
[29]	eval-logloss:0.054242	train-logloss:0.054889
[30]	eval-logloss:0.05223	train-logloss:0.052895
[31]	eval-logloss:0.050481	train-logloss:0.051138
[32]	eval-logloss:0.048914	train-logloss:0.049552
[33]	eval-logloss:0.04746	train-logloss:0.048109
[34]	eval-logloss:0.046217	train-logloss:0.046842
[35]	eval-logloss:0.04509	train-logloss:0.045703
[36]	eval-logloss:0.044081	train-logloss:0.04469
[37]	eval-logloss:0.043191	train-logloss:0.043785
[38]	eval-logloss:0.04235	train-logloss:0.042943
[39]	eval-logloss:0.041602	train-logloss:0.042193
[40]	eval-logloss:0.040973	train-logloss:0.041538
[41]	eval-logloss:0.040383	train-logloss:0.040945
[42]	eval-logloss:0.039845	train-logloss:0.040414
[43]	eval-logloss:0.039364	train-logloss:0.039924
[44]	eval-logloss:0.038931	train-logloss:0.039456
[45]	eval-logloss:0.03857	train-logloss:0.039067
[46]	eval-logloss:0.038233	train-logloss:0.038709
[47]	eval-logloss:0.037941	train-logloss:0.038371
[48]	eval-logloss:0.037656	train-logloss:0.038076
[49]	eval-logloss:0.037436	train-logloss:0.037819
[50]	eval-logloss:0.037164	train-logloss:0.037553
[51]	eval-logloss:0.036936	train-logloss:0.037301
[52]	eval-logloss:0.036767	train-logloss:0.037103
[53]	eval-logloss:0.036596	train-logloss:0.036891
[54]	eval-logloss:0.036396	train-logloss:0.036695
[55]	eval-logloss:0.036215	train-logloss:0.036472
[56]	eval-logloss:0.036117	train-logloss:0.036332
[57]	eval-logloss:0.036022	train-logloss:0.036198
[58]	eval-logloss:0.035905	train-logloss:0.036069
[59]	eval-logloss:0.035825	train-logloss:0.035954
[60]	eval-logloss:0.035669	train-logloss:0.035773
[61]	eval-logloss:0.035586	train-logloss:0.035663
[62]	eval-logloss:0.035536	train-logloss:0.035556
[63]	eval-logloss:0.035415	train-logloss:0.035413
[64]	eval-logloss:0.03533	train-logloss:0.035304
[65]	eval-logloss:0.035289	train-logloss:0.035225
[66]	eval-logloss:0.035233	train-logloss:0.035115
[67]	eval-logloss:0.035142	train-logloss:0.035
[68]	eval-logloss:0.035073	train-logloss:0.034927
[69]	eval-logloss:0.035026	train-logloss:0.034844
[70]	eval-logloss:0.034977	train-logloss:0.034764
[71]	eval-logloss:0.034899	train-logloss:0.03467
[72]	eval-logloss:0.034871	train-logloss:0.034627
[73]	eval-logloss:0.034799	train-logloss:0.034531
[74]	eval-logloss:0.034757	train-logloss:0.034484
[75]	eval-logloss:0.03471	train-logloss:0.034413
[76]	eval-logloss:0.03468	train-logloss:0.034373
[77]	eval-logloss:0.034627	train-logloss:0.034297
[78]	eval-logloss:0.034534	train-logloss:0.03419
[79]	eval-logloss:0.034514	train-logloss:0.03414
[80]	eval-logloss:0.034496	train-logloss:0.034106
[81]	eval-logloss:0.034467	train-logloss:0.034079
[82]	eval-logloss:0.034451	train-logloss:0.034034
[83]	eval-logloss:0.034411	train-logloss:0.03398
[84]	eval-logloss:0.034383	train-logloss:0.033936
[85]	eval-logloss:0.034367	train-logloss:0.033908
[86]	eval-logloss:0.034316	train-logloss:0.033835
[87]	eval-logloss:0.034281	train-logloss:0.033769
[88]	eval-logloss:0.034257	train-logloss:0.033746
[89]	eval-logloss:0.034207	train-logloss:0.03369
[90]	eval-logloss:0.034159	train-logloss:0.033611
[91]	eval-logloss:0.034138	train-logloss:0.033579
[92]	eval-logloss:0.034112	train-logloss:0.033534
[93]	eval-logloss:0.0341	train-logloss:0.033511
[94]	eval-logloss:0.034082	train-logloss:0.033478
[95]	eval-logloss:0.034076	train-logloss:0.033435
[96]	eval-logloss:0.033989	train-logloss:0.033336
[97]	eval-logloss:0.033964	train-logloss:0.033294
[98]	eval-logloss:0.033966	train-logloss:0.033245
[99]	eval-logloss:0.033948	train-logloss:0.033223
[100]	eval-logloss:0.033927	train-logloss:0.033185
[101]	eval-logloss:0.033911	train-logloss:0.033169
[102]	eval-logloss:0.033895	train-logloss:0.033122
[103]	eval-logloss:0.033899	train-logloss:0.033089
[104]	eval-logloss:0.033894	train-logloss:0.033065
[105]	eval-logloss:0.033879	train-logloss:0.03305
[106]	eval-logloss:0.033828	train-logloss:0.032979
[107]	eval-logloss:0.033793	train-logloss:0.032941
[108]	eval-logloss:0.033782	train-logloss:0.032916
[109]	eval-logloss:0.033718	train-logloss:0.032849
[110]	eval-logloss:0.033716	train-logloss:0.032811
[111]	eval-logloss:0.0337	train-logloss:0.032796
[112]	eval-logloss:0.033682	train-logloss:0.032769
[113]	eval-logloss:0.033666	train-logloss:0.032739
[114]	eval-logloss:0.033659	train-logloss:0.032723
[115]	eval-logloss:0.033653	train-logloss:0.032708
[116]	eval-logloss:0.033621	train-logloss:0.03266
[117]	eval-logloss:0.033604	train-logloss:0.032634
[118]	eval-logloss:0.033601	train-logloss:0.032611
[119]	eval-logloss:0.03359	train-logloss:0.03259
[120]	eval-logloss:0.033588	train-logloss:0.032575
[121]	eval-logloss:0.033544	train-logloss:0.032523
[122]	eval-logloss:0.033527	train-logloss:0.032488
[123]	eval-logloss:0.033515	train-logloss:0.032465
[124]	eval-logloss:0.033519	train-logloss:0.032435
[125]	eval-logloss:0.033509	train-logloss:0.032413
[126]	eval-logloss:0.033511	train-logloss:0.032394
[127]	eval-logloss:0.033498	train-logloss:0.032373
[128]	eval-logloss:0.033486	train-logloss:0.032352
[129]	eval-logloss:0.033475	train-logloss:0.032332
[130]	eval-logloss:0.033464	train-logloss:0.032314
[131]	eval-logloss:0.033457	train-logloss:0.032283
[132]	eval-logloss:0.033423	train-logloss:0.032241
[133]	eval-logloss:0.033414	train-logloss:0.032221
[134]	eval-logloss:0.033409	train-logloss:0.032209
[135]	eval-logloss:0.033399	train-logloss:0.032187
[136]	eval-logloss:0.033401	train-logloss:0.032171
[137]	eval-logloss:0.033389	train-logloss:0.032143
[138]	eval-logloss:0.033389	train-logloss:0.032114
[139]	eval-logloss:0.033395	train-logloss:0.032099
[140]	eval-logloss:0.033388	train-logloss:0.03208
[141]	eval-logloss:0.033382	train-logloss:0.032058
[142]	eval-logloss:0.033367	train-logloss:0.032036
[143]	eval-logloss:0.033373	train-logloss:0.032006
[144]	eval-logloss:0.033371	train-logloss:0.031996
[145]	eval-logloss:0.033364	train-logloss:0.031961
[146]	eval-logloss:0.033321	train-logloss:0.031901
[147]	eval-logloss:0.033291	train-logloss:0.031849
[148]	eval-logloss:0.033278	train-logloss:0.031824
[149]	eval-logloss:0.033272	train-logloss:0.031799
[150]	eval-logloss:0.033277	train-logloss:0.031772
[151]	eval-logloss:0.033257	train-logloss:0.031744
[152]	eval-logloss:0.033249	train-logloss:0.031731
[153]	eval-logloss:0.033242	train-logloss:0.031703
[154]	eval-logloss:0.033238	train-logloss:0.03168
[155]	eval-logloss:0.033237	train-logloss:0.031667
[156]	eval-logloss:0.033229	train-logloss:0.031635
[157]	eval-logloss:0.03322	train-logloss:0.031601
[158]	eval-logloss:0.033215	train-logloss:0.031588
[159]	eval-logloss:0.033224	train-logloss:0.031574
[160]	eval-logloss:0.033226	train-logloss:0.031563
[161]	eval-logloss:0.033222	train-logloss:0.031555
[162]	eval-logloss:0.033213	train-logloss:0.031546
[163]	eval-logloss:0.03318	train-logloss:0.031493
[164]	eval-logloss:0.033163	train-logloss:0.031467
[165]	eval-logloss:0.033159	train-logloss:0.031431
[166]	eval-logloss:0.033148	train-logloss:0.031399
[167]	eval-logloss:0.033145	train-logloss:0.03139
[168]	eval-logloss:0.033162	train-logloss:0.031359
[169]	eval-logloss:0.033155	train-logloss:0.031345
[170]	eval-logloss:0.033155	train-logloss:0.031328
[171]	eval-logloss:0.033157	train-logloss:0.031318
[172]	eval-logloss:0.03314	train-logloss:0.031283
[173]	eval-logloss:0.03314	train-logloss:0.031277
[174]	eval-logloss:0.033146	train-logloss:0.031265
[175]	eval-logloss:0.033145	train-logloss:0.031239
[176]	eval-logloss:0.033141	train-logloss:0.031221
[177]	eval-logloss:0.03314	train-logloss:0.0312
[178]	eval-logloss:0.033132	train-logloss:0.031187
[179]	eval-logloss:0.033108	train-logloss:0.03115
[180]	eval-logloss:0.033104	train-logloss:0.031142
[181]	eval-logloss:0.033102	train-logloss:0.031136
[182]	eval-logloss:0.033101	train-logloss:0.031128
[183]	eval-logloss:0.033095	train-logloss:0.031097
[184]	eval-logloss:0.033102	train-logloss:0.031078
[185]	eval-logloss:0.033105	train-logloss:0.03105
[186]	eval-logloss:0.033113	train-logloss:0.031035
[187]	eval-logloss:0.033114	train-logloss:0.031008
[188]	eval-logloss:0.033111	train-logloss:0.030996
[189]	eval-logloss:0.03311	train-logloss:0.030986
[190]	eval-logloss:0.033122	train-logloss:0.03096
[191]	eval-logloss:0.033123	train-logloss:0.030942
[192]	eval-logloss:0.033092	train-logloss:0.030891
[193]	eval-logloss:0.03309	train-logloss:0.030855
[194]	eval-logloss:0.033096	train-logloss:0.030825
[195]	eval-logloss:0.0331	train-logloss:0.030806
[196]	eval-logloss:0.033111	train-logloss:0.030786
[197]	eval-logloss:0.033114	train-logloss:0.03078
[198]	eval-logloss:0.033106	train-logloss:0.030767
[199]	eval-logloss:0.033108	train-logloss:0.030757
[200]	eval-logloss:0.033107	train-logloss:0.030747
[201]	eval-logloss:0.033111	train-logloss:0.03074
[202]	eval-logloss:0.033115	train-logloss:0.030706
[203]	eval-logloss:0.033109	train-logloss:0.0307
[204]	eval-logloss:0.03311	train-logloss:0.030681
[205]	eval-logloss:0.033118	train-logloss:0.030666
[206]	eval-logloss:0.03311	train-logloss:0.030656
[207]	eval-logloss:0.033091	train-logloss:0.030638
[208]	eval-logloss:0.033094	train-logloss:0.030614
[209]	eval-logloss:0.033086	train-logloss:0.030585
[210]	eval-logloss:0.033088	train-logloss:0.030562
[211]	eval-logloss:0.033072	train-logloss:0.030535
[212]	eval-logloss:0.033065	train-logloss:0.030502
[213]	eval-logloss:0.033065	train-logloss:0.030491
[214]	eval-logloss:0.033055	train-logloss:0.030479
[215]	eval-logloss:0.033056	train-logloss:0.030458
[216]	eval-logloss:0.033058	train-logloss:0.03043
[217]	eval-logloss:0.033039	train-logloss:0.030401
[218]	eval-logloss:0.033041	train-logloss:0.030385
[219]	eval-logloss:0.033031	train-logloss:0.030364
[220]	eval-logloss:0.033003	train-logloss:0.030322
[221]	eval-logloss:0.033001	train-logloss:0.030316
[222]	eval-logloss:0.033	train-logloss:0.030312
[223]	eval-logloss:0.032981	train-logloss:0.030275
[224]	eval-logloss:0.032981	train-logloss:0.03026
[225]	eval-logloss:0.032977	train-logloss:0.03024
[226]	eval-logloss:0.032963	train-logloss:0.030229
[227]	eval-logloss:0.03296	train-logloss:0.030221
[228]	eval-logloss:0.032947	train-logloss:0.030189
[229]	eval-logloss:0.032943	train-logloss:0.03017
[230]	eval-logloss:0.032917	train-logloss:0.030136
[231]	eval-logloss:0.032915	train-logloss:0.03013
[232]	eval-logloss:0.032909	train-logloss:0.030115
[233]	eval-logloss:0.032911	train-logloss:0.030108
[234]	eval-logloss:0.032916	train-logloss:0.030087
[235]	eval-logloss:0.032919	train-logloss:0.030075
[236]	eval-logloss:0.032916	train-logloss:0.030071
[237]	eval-logloss:0.032909	train-logloss:0.030049
[238]	eval-logloss:0.032913	train-logloss:0.030026
[239]	eval-logloss:0.032902	train-logloss:0.030011
[240]	eval-logloss:0.032906	train-logloss:0.030003
[241]	eval-logloss:0.032907	train-logloss:0.029995
[242]	eval-logloss:0.032908	train-logloss:0.029988
[243]	eval-logloss:0.032917	train-logloss:0.029975
[244]	eval-logloss:0.032921	train-logloss:0.029966
[245]	eval-logloss:0.032927	train-logloss:0.029932
[246]	eval-logloss:0.032941	train-logloss:0.029909
[247]	eval-logloss:0.032942	train-logloss:0.029902
[248]	eval-logloss:0.032939	train-logloss:0.029898
[249]	eval-logloss:0.03293	train-logloss:0.029873
[250]	eval-logloss:0.032926	train-logloss:0.029862
[251]	eval-logloss:0.03292	train-logloss:0.029848
[252]	eval-logloss:0.03292	train-logloss:0.029839
[253]	eval-logloss:0.032915	train-logloss:0.029824
[254]	eval-logloss:0.032902	train-logloss:0.029798
[255]	eval-logloss:0.0329	train-logloss:0.029777
[256]	eval-logloss:0.032892	train-logloss:0.029751
[257]	eval-logloss:0.03289	train-logloss:0.029736
[258]	eval-logloss:0.032891	train-logloss:0.029728
[259]	eval-logloss:0.032892	train-logloss:0.029709
[260]	eval-logloss:0.032909	train-logloss:0.029683
[261]	eval-logloss:0.032919	train-logloss:0.02965
[262]	eval-logloss:0.032917	train-logloss:0.029637
[263]	eval-logloss:0.032914	train-logloss:0.029622
[264]	eval-logloss:0.032915	train-logloss:0.029617
[265]	eval-logloss:0.032917	train-logloss:0.029596
[266]	eval-logloss:0.032914	train-logloss:0.029575
[267]	eval-logloss:0.032906	train-logloss:0.029551
[268]	eval-logloss:0.032909	train-logloss:0.02953
[269]	eval-logloss:0.032901	train-logloss:0.02952
[270]	eval-logloss:0.032897	train-logloss:0.02951
[271]	eval-logloss:0.0329	train-logloss:0.029507
[272]	eval-logloss:0.032903	train-logloss:0.02948
[273]	eval-logloss:0.032897	train-logloss:0.029465
[274]	eval-logloss:0.032895	train-logloss:0.029442
[275]	eval-logloss:0.032892	train-logloss:0.029433
[276]	eval-logloss:0.032897	train-logloss:0.029405
[277]	eval-logloss:0.032906	train-logloss:0.029388
[278]	eval-logloss:0.032907	train-logloss:0.029371
[279]	eval-logloss:0.032891	train-logloss:0.029355
[280]	eval-logloss:0.032891	train-logloss:0.029343
[281]	eval-logloss:0.03289	train-logloss:0.029334
[282]	eval-logloss:0.032892	train-logloss:0.029312

In [59]:
help(xgb.train)

Help on function train in module xgboost.training:

train(params, dtrain, num_boost_round=10, evals=(), obj=None, feval=None, maximize=False, early_stopping_rounds=None, evals_result=None, verbose_eval=True, learning_rates=None, xgb_model=None, callbacks=None)
    Train a booster with given parameters.

    Parameters
    ----------
    params : dict
        Booster params.
    dtrain : DMatrix
        Data to be trained.
    num_boost_round: int
        Number of boosting iterations.
    evals: list of pairs (DMatrix, string)
        List of items to be evaluated during training, this allows user to watch
        performance on the validation set.
    obj : function
        Customized objective function.
    feval : function
        Customized evaluation function.
    maximize : bool
        Whether to maximize feval.
    early_stopping_rounds: int
        Activates early stopping. Validation error needs to decrease at least
        every <early_stopping_rounds> round(s) to continue training.
        Requires at least one item in evals.
        If there's more than one, will use the last.
        Returns the model from the last iteration (not the best one).
        If early stopping occurs, the model will have three additional fields:
        bst.best_score, bst.best_iteration and bst.best_ntree_limit.
        (Use bst.best_ntree_limit to get the correct value if num_parallel_tree
        and/or num_class appears in the parameters)
    evals_result: dict
        This dictionary stores the evaluation results of all the items in watchlist.
        Example: with a watchlist containing [(dtest,'eval'), (dtrain,'train')] and
        and a paramater containing ('eval_metric', 'logloss')
        Returns: {'train': {'logloss': ['0.48253', '0.35953']},
                  'eval': {'logloss': ['0.480385', '0.357756']}}
    verbose_eval : bool or int
        Requires at least one item in evals.
        If `verbose_eval` is True then the evaluation metric on the validation set is
        printed at each boosting stage.
        If `verbose_eval` is an integer then the evaluation metric on the validation set
        is printed at every given `verbose_eval` boosting stage. The last boosting stage
        / the boosting stage found by using `early_stopping_rounds` is also printed.
        Example: with verbose_eval=4 and at least one item in evals, an evaluation metric
        is printed every 4 boosting stages, instead of every boosting stage.
    learning_rates: list or function
        List of learning rate for each boosting round
        or a customized function that calculates eta in terms of
        current number of round and the total number of boosting round (e.g. yields
        learning rate decay)
        - list l: eta = l[boosting round]
        - function f: eta = f(boosting round, num_boost_round)
    xgb_model : file name of stored xgb model or 'Booster' instance
        Xgb model to be loaded before training (allows training continuation).

    callbacks : list of callback functions
        List of callback functions that are applied at end of each iteration.

    Returns
    -------
    booster : a trained booster model

In [71]:
y = bst.predict(sub_trainning_data)
sub_user_index['label'] = y
pred = sub_user_index[sub_user_index['label'] >= 0.03]
pred

        user_id  sku_id     label
13           20   63006  0.048956
1327       1077   57018  0.032789
1721       1467   31662  0.059215
2053       1873  126146  0.034028
2099       1952  131300  0.046648
2190       2060   31662  0.037166
2217       2075  126146  0.068276
2227       2087  149854  0.183384
2276       2139  131300  0.038237
2279       2139  154636  0.053666
2796       2425   57018  0.047781
2949       2547   57018  0.030588
3206       2693   21147  0.066394
3216       2693   68767  0.277684
3703       3030   70839  0.038718
3941       3225  154636  0.040224
4185       3474  126146  0.058766
4193       3488   36307  0.051560
4223       3504  109083  0.040699
4256       3529   21147  0.035032
4339       3605  154636  0.073923
4406       3621  154636  0.056976
4671       3801  126146  0.048419
5079       4113   21147  0.037829
5349       4271   31662  0.054913
5560       4452   75877  0.034732
5835       4665  122341  0.064414
5884       4691   57018  0.058873
6176       4928   57018  0.050436
6177       4928  153395  0.043138
...         ...     ...       ...
147526    98862   21147  0.054494
147528    98862   57018  0.036899
148073    99310  125110  0.081985
148325    99526   63006  0.040312
148481    99634   59175  0.056810
148777    99813   69209  0.041771
148816    99873   44854  0.040885
148949    99984   44854  0.032996
148953    99984  138151  0.049552
148955    99984  142140  0.059275
149066   100058  154636  0.037493
149073   100067   31662  0.088331
149076   100067   68767  0.033446
149869   100652   57018  0.035891
150247   100946   65520  0.051958
150254   100949   57018  0.043267
150263   100949  153395  0.050682
150751   101409    5505  0.043912
151156   101640   44854  0.037292
151226   101712   31662  0.140993
151498   101866   57018  0.590787
151533   101884   57018  0.060353
152438   102524   40336  0.030851
152739   102794   52343  0.262569
152892   102904   57018  0.033973
153289   103225   57018  0.058647
153340   103262  154636  0.051999
153552   103384  154636  0.046364
153639   103508   21147  0.042006
153685   103560  126146  0.089856

[739 rows x 3 columns]

In [77]:
pred_res = pred[['user_id', 'sku_id']]
pred_user_sku = pred_res.groupby('user_id').first().reset_index()
pred_user_sku['user_id'] = pred_user_sku['user_id'].astype(int)
pred_user_sku

     user_id  sku_id
0         20   63006
1       1077   57018
2       1467   31662
3       1873  126146
4       1952  131300
5       2060   31662
6       2075  126146
7       2087  149854
8       2139  131300
9       2425   57018
10      2547   57018
11      2693   21147
12      3030   70839
13      3225  154636
14      3474  126146
15      3488   36307
16      3504  109083
17      3529   21147
18      3605  154636
19      3621  154636
20      3801  126146
21      4113   21147
22      4271   31662
23      4452   75877
24      4665  122341
25      4691   57018
26      4928   57018
27      4929  126146
28      4936   12564
29      5144   21147
..       ...     ...
615    97526   57018
616    97857   44854
617    97977   57018
618    98067   57018
619    98753   31662
620    98862   21147
621    99310  125110
622    99526   63006
623    99634   59175
624    99813   69209
625    99873   44854
626    99984   44854
627   100058  154636
628   100067   31662
629   100652   57018
630   100946   65520
631   100949   57018
632   101409    5505
633   101640   44854
634   101712   31662
635   101866   57018
636   101884   57018
637   102524   40336
638   102794   52343
639   102904   57018
640   103225   57018
641   103262  154636
642   103384  154636
643   103508   21147
644   103560  126146

[645 rows x 2 columns]